.datepicker {
  position: absolute;
  top: 34px;
  left: -40px;
  padding: 50px 33px 40px;
  background: #F6EEEC;
  box-shadow: 0px 4px 32px rgba(170, 170, 170, 0.03);
  border-radius: 15px;
}

.datepicker__month {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 35px;
  line-height: 150%;
  color: #70768A;
  white-space: nowrap;
  margin-left: 20px;
}

.datepicker__weekday {
  display: block;
  width: fit-content;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #70768A;
}

.datepicker__day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 8px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #70768A;
  cursor: pointer;
  transition: 0.3s;
}

span.datepicker__day {
  opacity: 0.5;
  cursor: default;
}

a.datepicker__day:hover {
  background: #C7D2F1
}

.datepicker__day.chosen {
  color: #F6EEEC;
  background: #869BD8;
}

.datepicker__day:last-child {
  margin-right: auto;
}

.datepicker__arrows {
  width: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.datepicker__arrow {
  cursor: pointer;
  transition: 0.3s;
}

.datepicker__arrow:hover {
  stroke: #6D86CF;
}

.datepicker__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.datepicker-table {
  width: 518px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.datepicker-table .c-p2 {
  width: 60px;
  margin-right: 7px;
  margin-left: 7px;
  text-align: center;
}

.datepicker-table__days {
  display: none;
}

.datepicker-table__days.active {
  display: flex;
}