form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.form-input {
  width: 200px;
  border-bottom: 1px solid #70768A;
  padding-bottom: 5px;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 150%;
  color: #70768A;
}

.form-input::placeholder {
  opacity: 0.68;
}

.form-input:focus::placeholder {
  color: transparent;
}

.form-submit__wrap {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.form-submit {
  position: relative;
  z-index: 1;
}

.form-submit:disabled {
  background: #869BD8;
  opacity: 0.5;
  border-radius: 10px;
}

.form-submit-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 0;
}

.form-submit:disabled+.form-submit-cover {
  z-index: 2;
}

.form-hint {
  opacity: 0;
  font-size: 12px;
  font-family: 'Montserrat';
  line-height: 120%;
  color: #EB5757;
}

.form-label {
  width: fit-content;
}

.form-label.js-invalid .form-hint {
  opacity: 1;
}

.form-label.js-invalid .form-input {
  border-color: #EB5757;
}

.form-label.js-valid .form-input {
  border-color: #219653;
}